h1 {
	color: orange;
}
.nav-bar {
	padding-top: 20px;
	max-width: 1600px;
}
.footer {
	padding-top: 20px;
	max-width: 1600px;
}
#wrapper {
	padding-left: 100px;
	padding-right: 80px;
	width: 1600px;
	display: grid;
	grid-template-columns: 450px 450px 400px;
	gap: 25px;
	grid-auto-rows: minmax(1000px, auto);
}
#image {
	grid-column: 1 / 3;
	grid-row: 1;
}
#shopping {
	grid-column: 3;
	grid-row: 1 / 3;
}
#reviews {
	grid-column: 1 / 3;
	grid-row: 2;
}
#seller {
	grid-column: 1 / 4;
	grid-row: 3;
}
